a {
  outline: 0;
  text-decoration: none;
  color: black;
  font: 20px Lato, serif;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* nav bar styling */
nav {
  margin: 50px 0 0;
}
nav h1{ 
  margin: 0 0 -10px;
  padding: 5px 0 0;
  font-size: 100px;
  font-family: 'Just Another Hand', cursive;
  text-align: center;
  background: linear-gradient(185deg, black, #2a5887, #eee, #2a5887, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  font-weight: normal;
  cursor: default;
}
nav ul{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
nav li{
  color: #222;
  display: inline-block;
  margin: 0 25px;
  padding: 5px 0;
  font-family: 'Just Another Hand', cursive;
  font-size: 45px;
  cursor: pointer;
}
nav li:hover{
  color: #ff7f50;
}
.active{
  color: #7a9cbf;
}

/* project styling */
.projects{
  width: 100%;
  margin-top: 25px;
}
.proj_containers {
  display: flex;
  justify-content: center !important;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.img_containers {
  width: 420px;
  text-align: center;
  align-items: center;
  height: auto;
  padding: 0;
  margin-right: 25px;
}
.img_containers img, .img_containers video {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 280px;
  width: 420px;
  object-fit: cover;
}

.proj_containers:nth-child(odd) .txt_containers {
  background-color: #d2dfe7;
}
.proj_containers:nth-child(even) .txt_containers {
  background-color: #eee;
}
.txt_containers {
  position: relative;
  padding: 40px 20px;
  height: 200px;
  width: 500px;
  top: 0;
  left: 0;
}
.txt_containers .overlay {
  display: none;
  position: absolute;
  width: auto;
  bottom: 20px;
  right: 20px;
}


h4 {
  font: 30px Lato, serif;
}

h5 {
  width: 100%;
  margin: 7px 0 7px 0;
  align-items: center;
  font: 28px PT Sans Narrow, sans-serif;
  color: #16161d;
  text-decoration: none;
}

.txt_containers h5{
  float: left;
}

h6 {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 20px Lato, serif;
  font-weight: 500;
  color: #777;
  font-style: italic;
}


/* about styling */
#bigabout{
  display: none;
}

#bio {
  width: 985px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  font: 20px Lato, serif;
  display: flex;
  align-items: center;
}
#bio a {
  font-size: 20px;
  color: black;
}
#bio img {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 300px;
  object-fit: cover;
}
#bio #bio_txt {
  width: auto;
  margin: 0 0 0 20px;
  padding: 0 20px;
  display: inline-block;
  background-color: #d2dfe7;
  height: 300px;
}
#bio #bio_txt h5{
  padding-top: 20px;
}

#about {
  width: 985px;
  margin: 0 auto;
}
#about p{
  font: 20px Lato, serif;
  margin: 2px 0 10px 0;
}
#about li{
  margin: 0 0 15px 0;
  font: 20px Lato, serif;
}

.about_block {
  width: auto;
  padding: 20px 20px 30px;
  margin-bottom: 20px;
}
.about_block:nth-child(even) {
  background-color: #d2dfe7;
}
.about_block:nth-child(odd) {
  background-color: #eee;
}
.res_block ul {
  text-align: left;
  margin: 20px 30px 20px 0px;
  padding-top: 10px;
}
.res_block li {
  font: 22px Lato, serif;
  width: 90%;
  float: left;
}

.tight{
  margin-top: -5px !important;
}

.tight li{
  margin: 0 !important;
}

#coursework {
  display: flex;
  justify-content: left;
  padding: 0;
}
#coursework li {
  font: 20px Lato, serif;
  padding: 0;
}
#coursework ul {
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
  margin-left: -40px;
  margin-right: 40px;
}

#title {
  margin: 120px auto 0 auto;
  align-content: center;
  max-width: 950px;
  width: 90%;
}
#title p {
  font: 20px Lato, serif;
}

#research {
  margin: 0 auto;
  align-content: center;
  max-width: 950px;
  width: 90%;
}
#research p {
  font: 20px Lato, serif;
}
#research video {
  margin: 0 auto;
  align-content: center;
  width: 100%;
  max-width: 600px;
}
#research ul {
  float: left;
}
#research li {
  font: 20px Lato, serif;
}
#research a {
  font: 20px Lato, serif !important;
  color: #8E4585;
}

#menu{
  display: none;
}

button{
  display: inline;
  padding: 5px;
  font: 20px Lato, serif;
  color: white;
  background-color: black;
  border: white 2px solid;
}


footer {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
  width: 100%;
  display: inline-block;
}
footer p {
  font: 20px Lato, serif;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  #bio {
    margin-top: -15px;
    width: auto;
    padding: 0px 5% !important;
  }

  .projects {
    margin: 30px auto 0 auto;
    align-content: center;
    width: 90%;
  }

  .txt_containers {
    width: 50vw;
    height: 210px;
    margin-left: 2vw;
  }
  .txt_containers .overlay {
    display: inline-block !important;
  }

  .txt_containers p{
    font-size: 20px;
  }

  .txt_containers h5{
    font-size: 25px;
  }

  .img_containers {
    margin-right: 0px;
  }

  .img_containers img, .img_containers video {
    width: 100% !important;
    height: 290px !important;
    max-width: 650px;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }

  #bigabout{
    padding-top: 1x;
  }

  #about {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .about_block {
    width: auto;
    padding: 30px 20px 30px;
  }
  #coursework li {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  nav{
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 5;
    height: 85px;
    background-color: rgba(255,255,255,0.95);
  }
  #menu{
    float: right;
    display: block;
    padding: 25px 5% 0 0;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  nav ul{
    padding: 90px 0 30px 0;
    background-color: rgba(255,255,255,0.95);
    z-index: 6;
  }

  nav li{
    display: block;
  }

  nav h1{
    float: left;
    padding: 20px 0 0 5%;
    font-size: 70px;
  }
  .projects{
    margin-top: 0;
  }
  .proj_containers {
    display: inline-table;
    width: 90%;
    margin: 10px 7px;
    overflow: hidden;
  }
  /* .proj_containers {
    width: 90%;
    margin-bottom: 20px;
  } */
  .txt_containers {
    padding: 25px 20px 40px 20px;
    text-align: left;
  }

  .projects {
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 100%;
  }

  .txt_containers {
    width: auto;
    margin-left: 0px;
    height: auto;
  }
  .txt_containers .overlay {
    display: inline-block !important;
  }

  .txt_containers h5{
    font-size: 25px; 
  }

  .img_containers{
    width: 100%;
  }

  .img_containers img, .img_containers video {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }

  #coursework {
    display: inline;
  }
  #coursework ul {
    padding: 0;
    margin: 0;
  }

  #bio {
    display: inline-table;
    align-content: center;
  }
  #bio #bio_txt {
    padding: 25px 20px 30px 20px;
    margin: 5px 0 0 0;
    height: auto;
  }
  #bio img {
    margin-top: 0;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 0px;
    margin-bottom: 15px;
  }

  #bio_txt h5{
    padding-top: 0 !important;
  }
}
