a {
  outline: 0;
  text-decoration: none;
  font-family: 'Lato', serif;
}

body{
  font-family: 'Lato', serif;
  position: absolute;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

h2{
  float: left;
  font-family: 'Staatliches', cursive;
  font-size: 6vw;
}

h6{
  font-family: 'Lato', serif;
  font-weight: 500;
  width: 100%;
  float: left;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: #777;
  /* text-decoration: underline; */
  font-style: italic;
}

h4{
  font-family: 'Lato', serif;
  font-size: 30px;
  float: none;
}

.nav{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  opacity: 0.7;
  z-index: 3;
}

.nav p{
  float: left;
  font-size: 22px;
  border: 2px solid black;
  margin-left: 20px;
  font-weight: 600;
  padding: 5px 10px;
  transition : border 500ms ease-out;
}

.nav p:hover{
  border: 2px solid green;
  color: green;
}

.nav ul{
  list-style-type: none;
  padding: 0;
  float: right;
}

.nav li{
  float: left;
}

.nav a{
  margin-top: 10px;
  margin-left: 40px;
  font-size: 22px;
  color: black;
  float: right;
  font-weight: 600;
}

.nav a:hover {
  text-decoration: underline;
}


#bio_writing {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato', serif;
  width: 950px;
  padding-top: 100px;
  padding-bottom: 40px;
}

#bio_writing p{
  font-size: 23px;
}

#bio_writing h4 {
  font-family: 'Staatliches', cursive;
  font-size: 45px;
  margin: 0px;
  padding-top: 40px;
}

.project{
  width: 100%;
}

.proj_containers {
  display: flex;
  justify-content: center !important;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.img_containers{
  width: 450px;
  text-align: center;
  height: auto;
  padding: 0;
  margin-bottom: -4px;
}

.img_containers img{
  height: 280px;
  width: auto !important;
  max-width: 420px;
  object-fit: cover;
}

.txt_containers {
  position: relative;
  padding: 40px 20px;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  top: 0;
  left: 0;
  transition: all ease 0.5s;
}

.txt_containers:hover{
  box-shadow: 7px 7px #999;
  top: -7px;
  left: -7px;
  /* margin-left: -10px;
  margin-top: -10px; */
}

.txt_overlay{
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
}

.seework{
  float: right;
  margin: 0 !important;
  padding: 0 !important;
}

.proj_containers:nth-child(odd) .txt_containers{
  background-color: #d2dfe7;
}

.proj_containers:nth-child(even) .txt_containers{
  background-color: #eee;
}

.txt_containers h5{
  float: left;
  width: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #16161d;
  margin-top: 7px;
  margin-bottom: 5px;
  outline: black;
  align-items: center;
}

.txt_containers p{
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 20px;
  color: #333;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px !important;
  padding-right: 1vw !important;
  padding-left: 1vw !important;
  width: 40px;
}

.logo img{
  width: 100%;
}

.design{
  display: flex;
  justify-content: center;
}

footer {
	left: 0;
	right: 0;
  bottom: 0;
  margin: 0;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	display: inline-block;
}

footer p{
  font-size: 20px;
  text-align: center;
}

.about_block{
  padding: 20px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.about_block:nth-child(odd){
  background-color: #d2dfe7;
}
.about_block:nth-child(even){
  background-color: #eee;
}

.about_block h3 {
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
}

.res_block{
  margin-bottom: 50px;
  padding: 0 30px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.res_block span {
  float: right;
}

.res_block h4{
  font-size: 20px;
  margin-top: 0px;
  margin-top: -2px;
  float: left;
}

.res_block ul{
  text-align: left;
  padding: 50px 30px;
  margin: 0;
}

.res_block li{
  width: 100%;
  float: left;
}

#coursework{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

#coursework li{
  font-size: 20px;
  padding: 5px;
}

#coursework ul{
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
}

#header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header_txt{
  margin-top: -15vh;
  width: 400px;
  text-align: center;
  font-size: 20px;
  padding-right: 50px;
}

#header_txt h2{
  font-size: 35px;
  width: 100%;
}

.proj_header{
  width: auto;
  height: 90vh;
  padding: 0;
    /* background-color: pink; */
}

video{
  width: auto !important;
  margin-top: 15vh;
  height: 50vh !important;
}

#header img{
  padding: 5vh 0;
  height: 75vh;
  float: right;
}

#work_content{
  /* top: 100vh;
  position: absolute; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 10%;
  max-width: 1000px;
}

#work_content h3{
  font-size: 25px;
  font-weight: 900;
}


#work_content p{
  font-size: 20px;
}

button{
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  margin: 25px 10px 0 10px;
  width: 250px;
  border: 0.5px solid black !important;
  background-color: #eee;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

button:hover{
  background-color: #d2dfe7;
}

#submenu{
  /* position: fixed;
  right: 50px;
  top: 40vh; */
  display: none;
}

@media only screen and (min-width: 750px) {
  .txt_containers{
    width: 500px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .nav{
    width: 90%;
  }

  #bio_writing {
    width: auto;
    padding: 40px 5% 60px 5% !important;
  }

  .proj_containers{
    margin: 0 10px;
  }

  .img_containers{
    width: 40%;
    min-width: 250px;
    padding-left: 5px;
  }

  #header{
    display: inline-block;
    align-content: center;
    width: 100vw;
  }

  #header_txt{
    margin-top: 0;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10%;
    font-size: 20px;
  }

  .proj_header{
    /* background-color: purple; */
    /* margin-right: auto;
    margin-left: auto; */
    height: auto;
  }

  video{
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    height: auto !important;
  }

  .proj_header img{
    width: 80% !important;
    height: auto !important;
    margin-left: 10%;
    margin-right: 10%;
  }

  #submenu{
    display: none;
  }


}

@media only screen and (max-width: 750px) {
  .nav{
    width: 100%;
    padding: 10px 0;
    height: 55px;
    background-color: #eee;
  }

  .nav ul{
    display: flex;
    justify-content: center;
    float: none;
  }

  .nav li{
    float: none;
  }

  .nav a{
    float: none;
    margin: 0 20px;
  }

  #bio_writing {
    padding-left: 20px;
    padding-top: 0;
  }

  .proj_containers{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .img_containers{
    display: none;
  }

  .txt_containers{
    margin: 0;
    width: auto;
    padding: 30px 5%;
    margin: 0px;
    left: 0;
    top: 0;
    border-radius: 0px;
  }

  .txt_containers:hover{
    left: 0;
    top: 0;
  }

}
