a {
  font: 20px Lato, serif;
  outline: 0;
  text-decoration: none;
  color: black;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h4 {
  font: 30px Lato, serif;
}

h5 {
  float: left;
  width: 100%;
  margin: 7px 0 5px 0;
  font: 30px PT Sans Narrow, sans-serif;
  text-decoration: none;
  color: #16161d;
  align-items: center;
}

h6 {
  font: 20px Lato, serif;
  font-weight: 500;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  color: #777;
  font-style: italic;
}

nav {
  position: fixed;
  /* top: 0;
  left: 0; */
  max-width: 1000px;
  display: inline-block;
  align-content: center;
  margin: 0 auto !important;
  /* width: 100%; */
  font-weight: 600;
  color: black;
  z-index: 3;
}
nav p {
  display: inline-block;
  font: 25px Lato, serif;
  float: left;
  margin-left: 20px;
  padding: 5px 10px;
  width: 140px;
  text-align: center;
  border: 2px solid black;
  background: white;
}

#contact{
  display: block;
  position: fixed;
  left: 190px;
  width: calc(100% - 190px);
  padding-bottom: 50px;
  z-index: 3;
  display: none;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
  width: 100%;
  display: inline-block;
}
footer p {
  font: 20px Lato, serif;
  text-align: center;
}
footer .logo {
  margin: 0 auto;
  padding: 25px 0 0 20px !important;
  width: 40px;
}
footer .logo img {
  width: 100%;
}

nav .logo, nav .logohover {
  margin: 25px 0 0 10px !important;
  width: 40px;
  border: 2px solid white;
}

nav .logo img, nav .logohover img {
  width: 100%;
}

.logohover{
  display: none;
}

#bio_writing {
  width: 985px;
  margin: 0 auto;
  padding: 100px 0 30px 0;
  font: 20px Lato, serif;
  display: flex;
  align-items: center;
}
#bio_writing a {
  font-size: 20px;
  color: black;
}
#bio_writing img {
  width: 250px;
  height: auto;
  object-fit: cover;
  /* border-radius: 20px; */
}
#bio_writing #bio_txt {
  width: auto;
  padding-left: 20px;
  display: inline-block;
}

#bio_writing span{
  font-style: italic;
  align-content: center;
  padding: 0;
}
#bio_writing span:hover{
  color: #8E4585;
}

.project {
  width: 100%;
}

.proj_containers {
  display: flex;
  justify-content: center !important;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.img_containers {
  width: 420px;
  text-align: center;
  height: auto;
  padding: 0;
  margin-right: 25px;
}
.img_containers img, .img_containers video {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 280px;
  width: auto !important;
  max-width: 420px;
  object-fit: cover;
  /* border-radius: 10px; */
}

.proj_containers:nth-child(odd) .txt_containers {
  background-color: #d2dfe7;
}
.proj_containers:nth-child(even) .txt_containers {
  background-color: #eee;
}
.txt_containers {
  position: relative;
  padding: 40px 20px;
  height: 200px;
  width: 500px;
  /* border-radius: 10px; */
  top: 0;
  left: 0;
}
.txt_containers .overlay {
  display: none;
  position: absolute;
  width: auto;
  bottom: 20px;
  right: 20px;
}

#about {
  width: 985px;
  margin: 0 auto;
}

.about_block {
  width: auto;
  padding: 20px;
  margin-bottom: 30px;
  /* border-radius: 10px; */
}
.about_block:nth-child(even) {
  background-color: #d2dfe7;
}
.about_block:nth-child(odd) {
  background-color: #eee;
}
.res_block {
  display: inline-block;
  width: calc(100% - 60px);
  margin: 10px 0;
  height: auto;
  padding: 0 30px;
  font-size: 22px;
  text-decoration: none;
  color: black;
}
.res_block h4 {
  font: 25px PT Sans Narrow, sans-serif;
  margin: 5px 0;
  padding-bottom: 10px;
  float: left;
}
.res_block span {
  font: 20px Lato, serif;
  float: right;
  margin-top: 7px;
}
.res_block ul {
  text-align: left;
  margin: 20px 30px 20px 0px;
  padding-top: 10px;
}
.res_block li {
  font: 22px Lato, serif;
  width: 90%;
  float: left;
}

#coursework {
  display: flex;
  justify-content: center;
  padding: 0 2% 20px 2%;
}
#coursework li {
  font: 22px Lato, serif;
  padding: 5px;
}
#coursework ul {
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
}

#title {
  margin: 120px auto 0 auto;
  align-content: center;
  max-width: 950px;
  width: 90%;
}
#title p {
  font: 20px Lato, serif;
}

#research {
  margin: 0 auto;
  align-content: center;
  max-width: 950px;
  width: 90%;
}
#research p {
  font: 20px Lato, serif;
}
#research video {
  margin: 0 auto;
  align-content: center;
  width: 100%;
  max-width: 600px;
}
#research ul {
  float: left;
}
#research li {
  font: 20px Lato, serif;
}
#research a {
  font: 20px Lato, serif !important;
  color: #8E4585;
}

@media (max-width: 1050px) {
  #bio_writing {
    width: auto;
    padding: 90px 5% 20px 5% !important;
  }

  .projects {
    margin: 0 auto;
    align-content: center;
    width: 90%;
  }

  .txt_containers {
    width: 50vw;
    /* border-radius: 0px; */
    height: 210px;
    margin-left: 2vw;
  }
  .txt_containers .overlay {
    display: inline-block !important;
  }

  .txt_containers p{
    font-size: 20px;
  }

  .txt_containers h5{
    font-size: 25px;
  }

  .img_containers {
    margin-right: 0px;
  }

  .img_containers img, .img_containers video {
    width: 100% !important;
    height: 290px !important;
    max-width: 650px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    /* border-radius: 10px 10px 0 0; */
  }

  #about {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .about_block {
    width: auto;
    padding: 20px;
  }
  .res_block li {
    width: 100%;
    font-size: 20px;
  }

  #coursework li {
    font-size: 20px;
  }
}
@media (max-width: 700px) {

  .proj_containers {
    display: inline-table;
    width: 45%;
    margin: 10px 7px;
    overflow: hidden;
  }
  .proj_containers {
    width: 90%;
    margin-bottom: 20px;
  }
  .txt_containers {
    padding: 25px 20px 40px 20px;
    text-align: left;
  }

  .projects {
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 100%;
  }

  .txt_containers {
    width: auto;
    margin-left: 0px;
    height: auto;
  }
  .txt_containers .overlay {
    display: inline-block !important;
  }

  .txt_containers h5{
    font-size: 25px;
  }

  .img_containers {
    width: 100% !important;
    margin-bottom: -5px;
  }
  .img_containers img, .img_containers video {
    width: 100% !important;
    height: 250px !important;
    max-width: 650px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    /* border-radius: 10px 10px 0 0; */
  }

  #coursework {
    display: inline;
  }
  #coursework ul {
    padding: 0;
    margin: 0;
  }

  #bio_writing {
    display: inline-block;
    align-content: center;
  }
  #bio_writing #bio_txt {
    padding: 0;
  }
  #bio_writing img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 0px;
  }

  #about {
    padding-top: 10px;
  }

  .res_block {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .res_block ul {
    text-align: left;
    margin-left: 25px;
    padding: 0;
  }

  .res_block span {
    float: left !important;
    width: 100%;
    margin: -10px 0 10px 0;
  }
  .res_block h4 {
    width: 100%;
    padding-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
